body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.navbar {
  background-color: #0d4f8b;
  width: 100%;
}
.navlogo {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
  font-size: 25px;
  color: white;
}
.main {
  height: 545px;
}
.append {
  overflow: auto;
}
h1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  font-weight: lighter;
  border-bottom: 1px solid lightgray;
}
.clear-btn {
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 5px;
}
.search-btn {
  color: white;
  background-color: #6495ed;
  width: 100px;
  height: 40px;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  border: 0px;
  border-radius: 5px;
}
.search {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.search-box {
  border-radius: 5px;
  margin-left: 15px;
  width: 40%;
  height: 30px;
}
.append {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  text-align: left;
}
.footerOne {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: #0d4f8b;
  width: 100%;
  justify-content: space-between;
}
.footerTwo {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #0d4f8b;
  width: 100%;
  justify-content: space-between;
}
.tableHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerImg {
  margin: 12px;
  height: 50px;
  border-radius: 50%;
}
.footerNameOne {
  font-size: 20px;
  color: black;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
}
.footerNameTwo {
  font-size: 20px;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-weight: bolder;
}
th {
  text-align: left;
}
td {
  text-align: left;
}
.coloredFirst {
  background-color: #eee8aa;
}
.coloredSecond {
  background-color: #add8e6;
}
